{% extends 'flatpages/default.html' %}
{% load socialaccount %}

{% block title %}
Вход в систему
{% endblock title %}

{% block content %}
<h2>Вход в систему</h2>
<hr>

<form method="post">
    {% csrf_token %}
    
    <div style="margin-bottom: 15px;">
        <label for="id_login">Email или имя пользователя:</label><br>
        <input type="text" name="login" id="id_login" 
               style="width: 300px; padding: 5px;"
               value="{{ form.login.value|default:'' }}">
    </div>
    
    <div style="margin-bottom: 15px;">
        <label for="id_password">Пароль:</label><br>
        <input type="password" name="password" id="id_password" 
               style="width: 300px; padding: 5px;">
    </div>
    
    {% if form.errors %}
    <div style="color: red; margin-bottom: 15px;">
        {{ form.errors }}
    </div>
    {% endif %}
    
    <button type="submit" class="btn btn-primary">Войти</button>
    <a href="{% url 'account_signup' %}" class="btn btn-secondary">Регистрация</a>
</form>

<hr>

<h3>Войти через:</h3>
<a href="{% provider_login_url 'yandex' %}" class="btn btn-warning">Yandex</a>
{% endblock content %}